<mat-toolbar color="primary" class="navbar">
  <span class="navbar-brand">E-Commerce</span>
  <span class="spacer"></span>
  <section>
    <div class="example-button-row">
      <button mat-flat-button color="primary" routerLink="/order" routerLinkActive="active">Track Order</button>
      <button mat-flat-button color="primary" routerLink="/signup" routerLinkActive="active">Register</button>
      <button mat-flat-button color="primary" routerLink="/login" routerLinkActive="active">Login</button>
    </div>
  </section>
</mat-toolbar>


<router-outlet></router-outlet>